body{
    margin: 0;
}
.top-section{
    background-color: #1F2937;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 0 100px;
}

.logo{
    color:#F9FAF8;
    font-weight: 800;
}

.links a{
    color: #F9FAF8;
    text-decoration: none;
}

.links li{
    margin-left: 20px;
}

.links{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

.first{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px 0 100px
}

.first-container{
    /*flex-direction: column;*/
    padding: 0 200px 300px 0;
}

.first-header,
.first-header-paragraf,
.first-button{
    color:#F9FAF8;
}

.first-header-paragraf{
    margin-top: -20px;
}

.first-button{
    background-color: #3882F6;
    font-weight: 600;
    border-style: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 15px 5px 15px;
}

/* This is the second part */

.second-section{
    background-color: #F9FAF8;
    margin: 0;
}

.second-header{
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 50px 0 20px 0;
    font-size: 36px;
}

.second-image{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 200px 0 200px;
    
}

.second-image img{
    width: 200px;
    height: auto;
    border-radius: 30px;
    border-style: solid;
    border-color: #3882F6;
}

.second-image p{
    text-align: center;
}

/* Third section starts from here  */

.third-section{
    background-color: #E5E7EB;
}

.quote,
.quoter{
    color: #1F2937;
}
.quote{
    padding: 100px 200px 0 200px;
    font-size: 23px;
    font-style: italic;
}
.quoter{
    margin-right: 300px;
    text-align: right;
    font-size: 25px;
}

/* Fourth section starts from here */

.fourth-section{
    background-color: #3882F6;
    padding: 0 100px 0 100px;
    margin: 50px 100px 50px 100px;
    display: flex;
    justify-content: space-around;
}

.second-container{
    flex-direction: column;
}

.fourth-header{
    padding-top: 30px;
    color: #F9FAF8;
    font-weight: 600;
    font-size: 20px;
}

.third-subtext{
    color: #F9FAF8;
    margin-top: -15px;
}

.second-button{
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 600;
    border-style: solid;
    border-color: #E5E7EB;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 20px 5px 20px;
    margin: 50px 0px 50px 0px;
}

/* Last section */

.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 10px 0 10px 0;

}